:root{
   --nav_bg:#1E202B;
   --nav_links:#fff;
}
/* ================================== navBar ===================================== */
.navbar{
   background-color:var(--nav_bg) ;
   
} 
.w-60{
   width: 60%;
}


.nav-link{
   color: var(--nav_links);
   font-size: 15px !important;
   width: 19%;
   text-align: center;
}
.navbar .fs-6{
   font-size: 12px !important;
}
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link{
   color: #13BADE;
   border: 2px solid #13BADE;
   
   border-radius: 25px;
   background-color: transparent;
}
.nav-link:focus, .nav-link:hover{
   color: #13BADE;
   border: 2px solid #13BADE;
   border-radius: 25px;
   background-color: transparent;
}
.navbar-toggler:focus {
   text-decoration: none;
   outline: 0;
   box-shadow: none !important;
}
.navbar-toggler-icon {
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
   background-image:none !important;
   color: #eee;

 }
 .navbar-toggler-icon i{
   margin-top: 5px;
 }
 
/*  ================================================================================ */

#Home{
   background-image: url(../Img/banner.png);
   background-position:top;
   min-height: 600px;
   background-size: 100% 50%;
   background-repeat: no-repeat;
   background-color: #1E202B;
   
}
.searchContainer .btn{
   transform: translate(-95px,5px);
   height: 50px !important;
   width: 90px;
}
.searchContainer input{
   background-color: var(--nav_bg);
   border: none;
}
.searchContainer .form-control-lg{
   outline: none;
   border: none;
   height: 60px;
   color: #ffffff;
}
.card{
   min-height: 300px;
   border: 0px;
   background-color:#323544;

}
.fs-80{
   font-size: 80px;
}
.card-header{
   background-color: #2D303D;
}
#nextDayBox .card{
   background-color: #262936;
}
#nextDayBox .card-header{
   background-color: #222531;
}
footer{
   background-color:#262936 ;
   min-height: 200px;
   margin-top: 0px;
}
.social_container{
   display: flex;
   min-width: 25%;
}

.social_container a{
   display: block;
   color: #13BADE;
   width: 50px;
   height: 50px;
   margin-inline: 5px;
   padding-top: 10px;
   background-color: #1E202B;
}
.social_container a:hover{
   background-color: #13BADE;
   color: white;
}


/* ================================================================ */

@media (max-width: 576px) { 

   .fs-80{
      font-size: 40px;
   }
   .details {
      display: flex;
      flex-direction: column;
   }
   .searchContainer,.social_container{
      width: 90% !important;
      margin: auto;
   }
   .w-60 {
      width: 90%;
    }
    .nav-link{
      width: 35%;
    }
    .navbar-nav{
      padding-top: 5px;
      height: 100%;
    }
   
 }